*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.top {
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
  padding-top: 217px;
  padding-left: 120px;
  background-image: url(images/bg_upper.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  
}

.top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #fff;
  margin-bottom: 32px;
}

.top__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 44px;
}

.top__button {
  box-sizing: border-box;
  width: 234.06px;
  height: 48.6px;
  padding-left: 74.03px;
  padding-right: 74.03px;
  padding-top: 13.3px;
  padding-bottom: 13.3px;
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.top__button:hover {
  background: #EB443F;
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #000915;
}


.bottom__pic {
  box-sizing: border-box;
  height: 300px;
  width: 378px;
  border: 3px solid #000915;
  border-radius: 16px;
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(images/game1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  padding-top: 236.36px;
  padding-bottom: 32px;
  padding-right: 262px;
  padding-left: 32px;
  cursor: pointer;
  transition: all 0.3s;
}

.bottom__pic:hover {
  border: 3px solid #44D2FF;
  border-radius: 16px;
  height: 306px;
}

.bottom__pic2 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(images/game2.jpg);
}

.bottom__pic3 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(images/game3.jpg);
}

.first {
  box-sizing: border-box;
  background-color:#000915;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 282px;
  padding-bottom: 282px;
  padding-left: 115px;
  padding-right: 115px;
  column-gap: 135px;
  row-gap: 100px;
  
}

.first_board {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 500px;
}

.first_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}

.first_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}

.first_button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.first_button:hover {
  background: #EB443F;
}

.first_image {
  background-image: url(images/first-game.png);
  width: 485px;
  height: 333px;
  background-size: cover;
  background-repeat: no-repeat;
}


@media(max-width: 1350px) {

  .first {
    padding-left: 100px;
    padding-right: 100px;
  

  }
  .first_board {
    width: 400px;
  }
  .first_image {
    background-size: contain;
    background-image: url(images/first-mobile.png);

  }
}

@media(max-width: 1240px) {
  .first {
    padding-left: 80px;
    padding-right: 80px;
    gap: 100px;
  }
}



@media(max-width: 1170px) {
 
  .bottom {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .bottom {
    flex-wrap: wrap;
  }
  .bottom__pic {
    width: 343px;
  }
  .first {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 100px;
  }
  .first_image {
    width: 320px;
  }
}

@media(max-width: 1000px) {
  .bottom__pic {
    padding-right: 248px;
    padding-left: 16px;
  }
  .first {
    justify-content: center;
  }
  .first_board {
    text-align: center;
    align-items: center;
  }

}

@media(max-width: 660px) {
  .top {
    padding-left: 16px;
    padding-right: 16px;
    background-image: url(images/bg_mobile.jpg);
  }
  .top__title{
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }
  .top__text{
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .top__button{
    margin-left: calc((100% - 234.06px)/2);
  }

  .bottom__pic {
    font-size: 20px;
  }

  .first_image {
    width: 344px;
    height: 236px;
  }
}

@media(max-width:560px) {
  .first {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 178px;
    row-gap: 64px;
  }
  .first_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .first_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }


}
